@page
@model MyWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About This Application";
}

<h1>About This Application</h1>

<p>
    This web application was built as part of a C#/.NET class assignment
    using <strong>ASP.NET Core Razor Pages</strong>. It demonstrates basic
    navigation, backend conditional logic, and integration with GitHub for
    version control.
</p>

<p>
    The site includes multiple pages:
</p>
<ul>
    <li>Home - overview of the project</li>
    <li>About - description of the application</li>
    <li>Grades - sample logic to display pass/fail status</li>
    <li>Weather - sample conditional content based on temperature</li>
    <li>Contact - placeholder page for user information</li>
</ul>

<figure>
    <img src="~/images/rbf1.jpg" style="max-width: 100%; height: auto;" />
    <figcaption>A cool picture.</figcaption>
</figure>
