@page
@model IndexModel
@{
    ViewData["Title"] = "Sam's Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sam didn't do all of his assignments.</p>
</div>
<body>
    <h1>Welcome to my first C# Page</h1>
</body>
